html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: rgba(0,0,0,0);
}

body > .container {
    background-color: rgba(255,255,255,0.88);
    border-radius: 10px;
}

footer {
    position: fixed;
    height: 25px;
    width: 100%;
    bottom: 1%;
    opacity: 0.8;
    color: #d4d4d4;
    pointer-events: none;
}

.navbar { background-color: #00141E; }

.base-pre-input {
    width: 155px;
}

#ironnet-img {
    border-style: hidden;
    width: 155px;
    height: 33px;
    background-size: 100%;
    opacity: 1;
}