html { width: 100%; overflow: hidden; }
.tab {
    overflow: hidden;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: rgba(208,208,208,0.8);
}
.tab button.active {
    background-color: rgba(160,160,160,0.8);
}
.tabcontent {
    display: none;
    padding: 6px 12px;
}