<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    <script src="{{ url_for('static', path='js/fontawesome.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='js/admin/base.js') }}?t={{ timestamp }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}?t={{ timestamp }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
    {% block imports %}{% endblock %}
</head>
<style>
html {
    background: #00141E url({{ url_for('static' , path='img/jpg/wallpaper.jpg') }}) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;

}
#ironnet-img {
    background: url({{ url_for('static', path='img/png/Ironnet_logo.png') }}) 0 50%;
    border-style: hidden;
    width: 155px;
    height: 33px;
    background-size: 100%;
    opacity: 1;
}
</style>
{% block style %}{% endblock %}
<header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="https://ironnet.info/">
            <div id="ironnet-img"></div>
        </a>
        {% for page in pages %}
        <a class="navbar-brand" href="{{ page.url }}">
            {{ page.title }}
        </a>
        {% endfor %}
        <div class="navbar-toggler-div">
            <div class="text-right">
                <button class="navbar-toggler justify-content-start" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="https://cup.ironnet.info/" class="nav-link">Приложения</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Помощь
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#banner-report">Сообщить о проблеме</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#banner-about">О приложении</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="oper-menu" class="d-flex justify-content-end collapse">
            <div class="btn-group" role="group">
                <button id="oper-btn" type="button" class="btn btn-sm btn-outline-success dropdown-toggle collapse"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ oper.full_name }}
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm-right" aria-labelledby="oper-btn">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#banner-password">Сменить пароль</a>
                    <a class="dropdown-item collapse" href="#" data-toggle="modal" data-target="#banner-operator" id="create-oper-link">Создать оператора</a>
                    <button class="dropdown-item" id="btn-logout">Выйти</button>
                </div>
            </div>
            <input id="oper-name" class="sr-only" value="{{ oper.full_name }}">
            <input id="oper-id" class="sr-only" value="{{ oper.oper_id }}">
            <input id="timestamp" class="sr-only" value="{{ timestamp }}">
            <input id="server-host" class="sr-only" value="{{ server_host }}">
            <input id="root-path" class="sr-only" value="{{ root_path }}">
        </div>
    </div>
</nav>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="banner-password" aria-hidden="true" id="banner-password">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сменить пароль</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-justify" id="modal-change-password">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon1">Текущий пароль</span>
                    </div>
                    <input type="password" class="form-control" id="password1" aria-describedby="addon1">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon2">Новый пароль</span>
                    </div>
                    <input type="password" class="form-control" id="password2" aria-describedby="addon2">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon3">Подтвердите пароль</span>
                    </div>
                    <input type="password" class="form-control" id="password3" aria-describedby="addon3">
                </div>
                <div class="text-center mb-3 collapse" id="invalid-password-data" style="color: red">
                    <span>* Неверный пароль</span>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-primary" id="change-password-btn">Сменить пароль</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="banner-operator" aria-hidden="true" id="banner-operator">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Регистрация нового оператора</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-justify" id="modal-change-password">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon4">Логин</span>
                    </div>
                    <input type="text" class="form-control" id="new-oper-login-input" aria-describedby="addon4">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon5">Имя</span>
                    </div>
                    <input type="text" class="form-control" id="new-oper-name-input" aria-describedby="addon5">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon6">Пароль</span>
                    </div>
                    <input type="password" class="form-control" id="new-oper-password-input" aria-describedby="addon6">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text base-pre-input" id="addon7">Подтвердите пароль</span>
                    </div>
                    <input type="password" class="form-control" id="new-oper-password-verify-input" aria-describedby="addon7">
                </div>
                <div class="form-check mb-3 ml-2">
                    <input type="checkbox" class="form-check-input" id="new-root-input">
                    <label class="form-check-label" for="new-root-input">Администратор</label>
                </div>
                <div class="text-center mb-3 collapse" id="invalid-new-oper-data" style="color: red">
                    <span>* Проверьте введенные данные</span>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-primary" id="btn-new-operator">Зарегистрировать</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="banner-about" aria-hidden="true" id="banner-about">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">О приложении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-justify">
                {{ about }}
                <br>
                Разработчик приложения - Имигеев Евгений.
                <div class="text-center">
                    <br>Северобайкальск, 2022.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="banner-report" aria-hidden="true" id="banner-report">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Сообщить о проблеме</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-justify">
                Что-то не работает? Попробуйте следующее:
                <ul>
                    <li>Перезагрузить страницу F5 и попробуйте заново;</li>
                    <li>Если не помогло, то сделайте это жёстко (Ctrl+F5);</li>
                    <li>
                        Сообщите мне:
                        <ul>
                            <li>Лично мне (2 этаж)</li>
                            <li>Telegram: <a href="http://t.me/mamaragan">8-923-432-1676 @mamaragan</a></li>
                            <li>E-mail: <a href="mailto:imigeev.e@gmail.com">imigeev.e@gmail.com</a></li>
                        </ul>
                    </li>
                </ul>
                <br>
                Если вам чего-то не хватает, или вы хотели бы что-то предложите - говорите :)
            </div>
        </div>
    </div>
</div>
</header>
<body>
{% block content %}{% endblock %}
</body>
<footer>
&emsp;{{ version }}
</footer>
</html>