{% extends "admin/base.html" %}
{% block imports %}
    <script type="text/javascript" src="{{ url_for('static', path='js/chat.js') }}?t={{ timestamp }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/chat.css') }}?t={{ timestamp }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="justify-content-center p-2">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Поиск...">
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0" id="chat-list">
{#                            <li class="clearfix">#}
{#                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">#}
{#                                <div class="about">#}
{#                                    <div class="name">Vincent Porter</div>#}
{#                                    <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img id="selected-photo" src="" alt="ava">
                                    </a>
                                    <div id="selected-man" class="chat-about">
                                        <div><h6 class="m-0 text-left">123</h6></div>
                                        <div><small>123</small></div>
                                        <div><small>123</small></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <button id="btn-drop" class="collapse btn btn-outline-danger">
                                        <i class="fa fa-times"></i>
                                        <span class="collapse">Отключиться от чата</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul id="chat-history" class="m-b-0"></ul>
                        </div>
                        <div class="chat-message clearfix text-center">
                            <div id="btn-take" class="collapse btn-group btn-group-sm mb-0 w-50">
                                <button class="btn btn-outline-secondary">Принять чат</button>
                            </div>
                            <div id="input-group" class="collapse input-group mb-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                                </div>
                                <input id="message-input-text" type="text" class="form-control" placeholder="Введите сообщение" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}