{% extends "base_public.html" %}
{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1>IroBot</h1>
                </div>
            </div>
            <div class="col-12 text-center mb-3">
                <h4>Ошибка</h4>
            </div>
            <div class="col-12">
                <p>Пожалуйста, начни авторизацию из <a href="https://t.me/{{ bot_name }}">боте</a> заново.<br/>
                Если ошибка повторяется, <a href="https://t.me/{{ support_bot_name }}">напиши нам в поддержку</a>.</p>
            </div>
            <div class="col-12 text-center">
                <p><a href="https://t.me/{{ bot_name }}">Вернуться к боту @{{ bot_name }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}