{% extends "base_public.html" %}
{% block content %}
<div class="container pb-3">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h3>Ошибка</h3>
        </div>
        <div class="col-12">
            <p>Пожалуйста, начни авторизацию из <a href="https://t.me/{{ bot_name }}">боте</a> заново.<br/>
            Если ошибка повторяется, <a href="https://t.me/{{ support_bot_name }}">напиши нам в поддержку</a>.</p>
        </div>
        <div class="col-12 text-center">
            <p><a href="https://t.me/{{ bot_name }}">Вернуться к боту @{{ bot_name }}</a></p>
        </div>
    </div>
</div>
{% endblock %}