{% extends 'base_public.html' %}
{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1>IroBot</h1>
                </div>
            </div>
            <div class="col-12 text-center mb-3">
                <h4>Успешная авторизация!</h4>
            </div>
            <div class="col-12 text-center">
                <a href="https://t.me/{{ bot_name }}">Вернуться к телеграм-боту @{{ bot_name }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}