{% extends "base_public.html" %}
{% block import %}
    <script type="text/javascript"
            src="{{ url_for('static', path='js/login.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container pb-3">
        <div class="row">
            <div class="col-12 my-2 text-center">
                <h5>Авторизация</h5>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <form novalidate>
                    <div class="form-group sr-only">
                        <label for="hash-code"></label>
                        <input type="text" class="form-control" id="hash-code" value="{{ hash_code }}">
                    </div>
                    <div id="agrm-form" class="form-group row">
                        <label for="agrm-input" class="col-sm-2 col-form-label">Договор</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="agrm-input" placeholder="Номер договора"
                                   required>
                            <div class="invalid-feedback">
                                Пожалуйста, введи номер договора.
                            </div>
                        </div>
                    </div>
                    <div id="pwd-form" class="form-group row">
                        <label for="password-input" class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password-input" placeholder="Пароль"
                                   required>
                            <div class="invalid-feedback">
                                Пожалуйста, введи пароль.
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="login-btn" type="button" class="btn btn-primary">
                            <span id="login-btn-spinner" class="spinner-border spinner-border-sm m-1 collapse" role="status"></span>
                            <span id="login-btn-text" class="collapse show">Войти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="access-granted-form" class="row collapse">
            <div class="col-12 text-center my-3">
                <h3>Успешная авторизация!</h3>
            </div>
            <div class="col-12 text-center">
                <a href="https://t.me/{{ bot_name }}">Вернуться к телеграм-боту @{{ bot_name }}</a>
            </div>
        </div>
    </div>
{% endblock %}