{% extends "base.html" %}
{% block imports %}
    <script type="text/javascript"
            src="{{ url_for('static', path='js/mailing.js') }}"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', path='css/mailing.css') }}">
    <link rel="shortcut icon"
          href="{{ url_for('static', path='favicon.ico') }}">
{% endblock %}
{% block style %}
{#* { border: 1px solid #cfcece }#}
.table {
    background: #ffffff;
}
.table-sm {
    font-size: 14px;
}
{% endblock %}
{% block content %}
<div class="container">
    <div class="justify-content-center text-center p-3">
        <h4>{{ title }}</h4>
    </div>
    <div class="justify-content-center p-1">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12 text-center"><label>Subs</label></div>
                    <div class="col-12">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th>chat_id</th>
                                <th>mailing</th>
                                <th>accounts</th>
                            </tr>
                            </thead>
                            <tbody id="table">{{ tables.subs|safe }}</tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-9 text-center">
                        <label for="input-text">Text</label>
                    </div>
                    <div class="col-3 text-center">
                        <label for="input-text">Parse mode</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <textarea id="input-text" class="form-control form-control-sm" rows="5"></textarea>
                    </div>
                    <div class="col-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="parse-radio" id="parse-radio1" value="" checked>
                            <label class="form-check-label" for="parse-radio1">
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="parse-radio" id="parse-radio2" value="html">
                            <label class="form-check-label" for="parse-radio2">
                                HTML
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="parse-radio" id="parse-radio3" value="markdown">
                            <label class="form-check-label" for="parse-radio3">
                                Markdown
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="parse-radio" id="parse-radio4" value="markdownv2">
                            <label class="form-check-label" for="parse-radio4">
                                MarkdownV2
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 btn-group btn-group-sm pt-1">
                        <button id="send-notify" class="btn btn-outline-danger">Send notify</button>
                        <button id="send-mailing" class="btn btn-outline-primary">Send mailing</button>
                        <button id="update-history" class="btn btn-outline-info">Update history</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2 text-center">
                        <label for="input-text">History</label>
                    </div>
                    <div class="col-12">
                        <table id="history-table" class="table table-sm">
                            {{ tables.history|safe }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}