{% extends "base_public.html" %}
{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1>IroBot</h1>
                </div>
            </div>
            <div class="col-12 text-center mb-3">
                <h4>{{ message.title|safe }}</h4>
            </div>
            {% if message.textlines is defined %}
            <div class="col-12">
                {% for line in message.textlines %}
                <p>{{ line|safe }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-12 text-center">
                <p>{{ back_link|safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}