.load-link {
    text-align: center;
    font-size: 14px;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.message {
    animation: append-animate .3s linear;
}

.show-under-mouse {
    min-width: 40px;
    height: 40px;
}

.chat-account {
    font-size: 14px;
}
.chat-account::before {
    content: ' ';
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    max-height: 80vh;
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer;
}

.people-list .chat-list li.active {
    background: #efefef;
}

.people-list .chat-list li .name {
    font-size: 15px;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%;
}

.people-list img {
    float: left;
    border-radius: 50%;
}

.people-list .about {
    float: left;
    padding-left: 8px;
}

.people-list .status {
    color: #999;
    font-size: 13px;
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header .row {
    height: 100%;
}

.chat .chat-header img {
    float: left;
    border-radius: 62px;
    height: 57px;
    width: 57px;
    object-fit: contain;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
}

.chat .chat-header .chat-about div {
    height: 19px;
}

.chat .chat-history {
    height: 60vh;
    overflow: auto;
    padding: 20px;
    border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0;
}

.chat .chat-history .message-time {
    color: #626262;
    position: absolute;
    bottom: 3px;
    right: 12px;
    font-style: italic;
}

.chat .chat-history .message-time::before {
    content: ' ';
}

.chat .chat-history .message-date {
    font-style: italic;
    font-size: 14px;
}

.chat .chat-history .message-name {
    font-weight: 600;
    text-align: left;
    height: 20px;
}

.chat .chat-history .message {
    text-align: left;
    color: #444;
    padding: 6px 20px 14px 10px;
    min-width: 128px;
    font-size: 14px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    max-width: 80%;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #efefef;
    padding-top: 11px;
}

.chat .chat-history .other-message {
    background: #e8f1f3;
}

.chat .chat-history .other-oper-message {
    background: #dcf9ff;
}

.chat .chat-message {
    padding: 20px;
}

.online,
.offline {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
}

.online {
    color: #86c541;
}

.offline {
    color: #ff001e;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none;
    }

    .chat-app .people-list.open {
        left: 0;
    }

    .chat-app .chat {
        margin: 0;
    }

    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;
    }

    .chat-app .chat-history {
        overflow-x: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto;
    }

    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto;
    }

    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto;
    }
}